.banneradmin-sec{
    height: 32vh;
    background-position: bottom;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-tab .nav-link{
    background-color: #ffc107 !important;
    padding: 12px;
    margin-right: 2px;
    color: white !important;
    border-radius: 5px;
}