* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root{
    --primary: #0044FF;
    --secondary: #E8E8E8;
    --font1: #03254C;
    --font2: #222222;
    --font3: #333333;
    --black: #000000;
    --white: #ffffff;
    --border: #707070;
  }
  

@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-Light.eot") format("eot"),
    url("../assets/fonts/Rajdhani-Light.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-Light.woff") format("woff"),
    url("../assets/fonts/Rajdhani-Light.woff2") format("woff2"),
    url("../assets/fonts/Rajdhani-Light.svg") format("svg");
  font-weight: 300;
  font-display: swap;
}
body {
  font-size: 16px;
  color: var(--font2);
  line-height: 24px;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Rajdhani', sans-serif;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-Regular.eot") format("eot"),
    url("../assets/fonts/Rajdhani-Regular.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-Regular.woff") format("woff"),
    url("../assets/fonts/Rajdhani-Regular.woff2") format("woff2"),
    url("../assets/fonts/Rajdhani-Regular.svg") format("svg");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-Medium.eot") format("eot"),
    url("../assets/fonts/Rajdhani-Medium.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-Medium.woff") format("woff"),
    url("../assets/fonts/Rajdhani-Medium.woff2") format("woff2"),
    url("../assets/fonts/Rajdhani-Medium.svg") format("svg");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-SemiBold.eot") format("eot"),
    url("../assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-SemiBold.woff") format("woff"),
    url("../assets/fonts/Rajdhani-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Rajdhani-SemiBold.svg") format("svg");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani";
  src: url("../assets/fonts/Rajdhani-Bold.eot") format("eot"),
    url("../assets/fonts/Rajdhani-Bold.ttf") format("ttf"),
    url("../assets/fonts/Rajdhani-Bold.woff") format("woff"),
    url("../assets/fonts/Rajdhani-Bold.woff2") format("woff2"),
    url("../assets/fonts/Rajdhani-Bold.svg") format("svg");
  font-weight: 700;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0;
  background: none;
  line-height: 1.4em;
  font-family: "Rajdhani", sans-serif;
}

.txt-1 {
  font-size: 49px;
  line-height: 56px;
  font-weight: 600;
}

.txt-2 {
  font-size: 39px;
  color: var(--font1);
  line-height: 48px;
  font-weight: 600;
}

.txt-3 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
}

.txt-3-dp {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  color: var(--font1);
}

.txt-3-wt {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  color: var(--white);
}

.txt-3-bold {
  font-size: 25px;
  line-height: 32px;
  font-weight: 700;
  color: var(--font1);
}

.txt-3-semi {
  font-size: 25px;
  line-height: 32px;
  font-weight: 600;
  color: var(--primary);
}

.btn-close{
    background-color: #fff;
}
.body-sm{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--font2);
}

.body-xs{
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--font2);
}

.body-bold{
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: var(--black);
}

.body-bold-2{
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: var(--font2);
}

.body-semi{
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: var(--font1);
}

.txt-mdm{
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  color: var(--font2);
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

@media screen and (max-width: 768px){
  .banner-sec{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    margin-top: 35px;
  }
  a.navbar-brand.logo img {
    height: 40px;
  }
}
.btn-style{
  padding: 10px 15px;
  border: 1px solid var(--primary);
  transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
  -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
}
.btn-style img, .btn-style-2 img{
  transform: translate(2px);
  transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
  -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
}
.btn-style:hover img, .btn-style-2:hover img{
  transform: translate(10px);
  transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
  -webkit-transition: all 0.35s cubic-bezier(0.12, 0.75, 0.4, 1);
}
.btn-1{
  background: var(--primary);
  color: var(--white);
}
.btn-1-1{
  color: var(--primary);
}
.btn-1:hover{
  background: var(--font2);
  color: var(--white);
  border-color: var(--font2);
}
.btn-2{
  color: var(--white);
}
.btn-2:hover, .btn-1-1:hover{
  background: var(--primary);
  color: var(--white);
}
.btn-3{
  background: var(--primary);
  color: var(--white);
}
.btn-3:hover{
  background: var(--font2);
  color: var(--white);
  border-color: var(--font2);
}
.card-body .banner-links {
    margin: 13px 0 5px;
}